name: 'Handle stale issues'
on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v6.0.1
        with:
          stale-issue-message: 'This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.'
          close-issue-message: 'This issue has been automatically closed due to inactivity. Feel free to open it again if needed.'
          days-before-stale: 60
          days-before-close: 7
          stale-issue-label: stale
          remove-stale-when-updated: true
          exempt-issue-labels: pinned
          operations-per-run: 200
